:root {
    --color-primary: #6D9BC3;

    --color-black: #1C1C1C;

    --color-grey-dark: #2E2E2E;

    --color-grey-light: #EBECF0;
    --color-grey: #BEBEBE;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.5);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light);
}

// COLOR VARIABLES
$color-primary: #6D9BC3;
$color-black: #1C1C1C;
$color-grey-dark: #2E2E2E;
$color-grey-light: #EBECF0;
$color-grey: #BEBEBE;

// ANIMATIONS
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        margin-bottom: 10rem;
    }

    100% {
        opacity: 1;
        margin-bottom: 0    ;
        transform: translate(0);
    }
}


$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 30%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;

    display: flex;
    min-height: 100vh;
    width: 100%;
}